page-idle-report {
    .col {
        padding: 0px;
    }
    .para {
        color:gray;
        font-size:11px; 
        text-align:left;
        font-weight:400;
    }
    .para1 {
        color:#009688;
        font-size: 11px;
        font-weight: 350;
    }
    .label-md,.label-ios{
        font-size: 12px;
    }
}
