<ion-content no-padding>
  <div width="100%" height="100%">
    <div style="background: #d80622;padding-top: 15%;padding-bottom: 10%;" height="50%">
      <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
        <img src="assets/imgs/icon.png" style="width: 60%;margin: 18%;" />
      </ion-card>
      <h5
        style="color: white;font-weight: 500;text-align: center;font-size: 3.6rem;padding-top: 0%;padding-bottom: 14%;">
        {{ "SIGN UP" | translate }}
      </h5>
    </div>
    <div>
      <div class="row">
        <ion-card class="col-sm-12 col-12 col-md-12"
          style="margin-top: -21%;border-radius: 4%;height: auto;overflow-y: auto;padding-bottom: 7%;">
          <form [formGroup]="signupForm">
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input placeholder="{{ 'User ID*' | translate }}" type="text" formControlName="userId"></ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%; color: gray;">
                <ion-icon name="person" style="font-size: 2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
            !signupForm.controls.userId.valid &&
            (signupForm.controls.userId.dirty || submitAttempt)
          " class="err">
              {{'UserId is required!' | translate}}
            </p>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input placeholder="{{ 'First Name*' | translate }}" type="text" formControlName="Name"></ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%; color: gray;">
                <ion-icon name="person" style="font-size: 2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
            !signupForm.controls.Name.valid &&
            (signupForm.controls.Name.dirty || submitAttempt)
          " class="err">
              {{'First name is required!' | translate}}
            </p>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input placeholder="{{ 'Last Name*' | translate }}" type="text" formControlName="lName"></ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%; color: gray;">
                <ion-icon name="person" style="font-size: 2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
            !signupForm.controls.lName.valid &&
            (signupForm.controls.lName.dirty || submitAttempt)
          " class="err">
              {{'Last name is required!' | translate}}
            </p>

            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-4 no-padding>
                <ion-label style="color: gray;">Select country</ion-label>
              </ion-col>
              <ion-col col-8 no-padding style="text-align: right;margin-top: 2%;color: gray;">
                <ion-select style="float: right;max-width: 100%;" formControlName="std_code">
                  <ion-option *ngFor="let con of countryCodeArray" [value]="con.code" (ionSelect)="onSelect(con)">
                    {{con.code}} {{con.name}}</ion-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input placeholder="{{ 'Mobile Number' | translate }}" type="number" formControlName="mob_num"
                  minlength="10" maxlength="13">
                </ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%;color: gray;">
                <ion-icon name="call" style="font-size:2.8rem"></ion-icon>
              </ion-col>
            </ion-row>

            <p *ngIf="
                !signupForm.controls.mob_num.valid &&
                (signupForm.controls.mob_num.dirty || submitAttempt)
              " class="err">
              {{ "mobile number should be 10 digits!" | translate }}
            </p>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input type="email" placeholder="{{ 'Email ID' | translate }}" formControlName="email_add">
                </ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%;color: gray;">
                <ion-icon name="mail" style="font-size:2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
                !signupForm.controls.email_add.valid &&
                (signupForm.controls.email_add.dirty || submitAttempt)
              " class="err">
              {{ "please enter valid email id!" | translate }}
            </p>

            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input placeholder="{{'Password*' | translate}}" type="{{ type }}" formControlName="pass">
                </ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%;color: gray;position:initial"
                (click)="toggleShow(0)">
                <ion-icon name="eye" style="font-size:2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
                !signupForm.controls.pass.valid &&
                (signupForm.controls.pass.dirty || submitAttempt)
              " class="err">
              {{'Password required!' | translate}}
            </p>
            <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
              <ion-col col-10 no-padding>
                <ion-input type="{{ type1 }}" placeholder="{{'Confirm Password*' | translate}}"
                  formControlName="cnfrm_passwrd"></ion-input>
              </ion-col>
              <ion-col col-2 no-padding style="text-align: right;margin-top: 2%;color: gray;" (click)="toggleShow(1)">
                <ion-icon name="eye" style="font-size:2.8rem"></ion-icon>
              </ion-col>
            </ion-row>
            <p *ngIf="
                !signupForm.controls.cnfrm_passwrd.valid &&
                (signupForm.controls.cnfrm_passwrd.dirty || submitAttempt)
              " class="err">
              {{'Please enter Confirm Password' | translate}}
            </p>
          </form>
        </ion-card>
        <div class="col-sm-12 col-12 col-md-12 " style="margin:auto">
          <button ion-button round
            style="width: 18.2rem;color:white;background: #d80622;margin:-46px 0px 0px 2px;font-weight:400;text-transform: none;"
            (click)="getotp()">
            <b>{{'SIGN UP' | translate}}</b>
          </button>
          <div (click)="gotoLogin()">
            <p style="color:grey;margin-left: -13px;">
              {{'Already have an account?' | translate}}<span
                style="color: black;margin-left: 5px;">{{'SIGN IN' | translate}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>